@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 1rem;
    font-size: 2.5em;
    color: navy;
    text-align: center;
}

header {
    margin: 0 auto;
    width: 650px;
}

h1 {
    font-family: 'Roboto', serif;
}

fieldset {
    font-family: 'Ubuntu', serif;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

p {
    background-color: blue;
    margin: auto;
    text-align: center;
    color: #eee;
}

.form-item {
    display: grid;
    align-items: center;
}

